.circle {
  width: 31.6rem;
  height: 15.3rem;
  margin: 0 auto;
  position: relative;
  transition: box-shadow 1.5s ease;
}
.semi_circle_bg {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 306px;
  height: 153px;
  border-top-left-radius: 306px;
  border-top-right-radius: 306px;
  -webkit-mask-image: linear-gradient(0deg, transparent, #000 30px);
  box-shadow: inset 0 30px 60px -10px rgb(239 83 80 / 30%);
}
.wrapper {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 5rem 0;
}
.arrow_main {
  width: 2px;
  height: 13rem;
  border-radius: 1px;
  background-color: #131722;
}
.wrapper_content {
  position: absolute;
  max-width: 45rem;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper_content_signal_strong {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapper_content_signal_normal {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  top: 22%;
  transform: translate(-50%, -22%);
  max-width: 35rem;
  width: 100%;
}
.wrapper_content_signal_neutral {
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -7%);
  max-width: 15rem;
  width: 100%;
}
.textContent {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.4px;
  width: 5.2rem;
  text-align: center;
  color: #131722;
  font-size: 1.2rem;
}
.arrow {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8px;
  height: 15rem;
  bottom: 4px;
  left: calc(50% - 4px);
  transform-origin: 50% 100%;
  transition: transform 1.5s ease;
}
.dots {
  position: absolute;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  bottom: 0;
  border: 2px solid #131722;
  left: calc(50% - 4px);
  border-radius: 50%;
}
